@using Microsoft.AspNetCore.Components.Forms

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CablesTool</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ol class="tree">
        @foreach (var project in CableProjects)
        {
            <li>
                <label for="@project.FolderName">@project.FolderName</label> <input type="checkbox" id="@project.FolderName" @onclick="@(()=>OnFolderClicked(project.Path))">
               
                <ol>
                    @foreach (var fileName in project.Files)
                    {
                    <li class="file"><img src="file.png" class="icon" /><a @onclick="@(() => OnFileClicked(fileName))">@fileName</a></li>
                    }
                </ol>


                <div style="margin-left: 1%; margin-top: 1%">
                    <button class="btn btn-outline-secondary btn-sm" 
                            type="button" @onclick="@(()=>ToggleUploadFileMenu(project.FolderName))">
                        <span class="oi oi-data-transfer-upload"></span>
                    </button>
                </div>
            </li>
        }
    </ol>

    @if (uploadFileMenuOpened)
    {
        <Uploader FolderName="@folderNameToUpload" />
    }

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
