<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CablesTool</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ol class="tree">
        @foreach (var project in CableProjects)
        {
            <li>
                <label for="@project.FolderName">@project.FolderName</label> <input type="checkbox" id="@project.FolderName">
                <ol>
                    <li class="file"><img src="file.png" class="icon"/><a @onclick="@(()=>OnFileClicked(project.Path, "", ""))">@project.FolderName</a></li>
                </ol>
            </li>
        }
    </ol>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
