@using System.Timers
@using Microsoft.Extensions.Logging
@using Nito.AsyncEx.Synchronous
@using System.Globalization
@using Data
@inject JSWrapper JSWrapper

<iframe id="patchFrame" class="video-control" src="@ProjectPath"></iframe>

<div class="left-to-right-container">
    <button class="btn btn-secondary" type="button" @onclick="PlayClicked"><span class="oi oi-media-play"></span></button>
    <button class="btn btn-secondary" type="button" @onclick="StopClicked"><span class="oi oi-media-stop"></span></button>
    <div style="width: 100%"></div>
    <h5 style="flex: none">@VideoName | @CurrentTime/@VideoLength</h5>
</div>

<input class="slider" type="range" min="1" max="@VideoLength" step="1" list="tickmarks"
       @bind-value="@CurrentTime"
       @onmousedown="VideoSliderInputMouseDown"
       @onmouseup="VideoSliderInputMouseUp"
       @oninput="@((args) => VideoSliderChanged(args.Value.ToString()))" />

<datalist style="margin-bottom: 1%" id="tickmarks">
    @foreach (var currentSecond in Enumerable.Range(1, int_VideoLength))
    {
        var comment = CommentEntities.FirstOrDefault(comment => comment.Time == currentSecond);
        if (comment != null)
        {
            <option value="@currentSecond" label="^" @onclick="@(()=>VideoSliderChanged(currentSecond.ToString()))"></option>
        }
        else
        {
            <option value="@currentSecond" label="" style="visibility:hidden"></option>
        }
    }
</datalist>


@code {
    [Inject]
    public ILogger<CablesPlayer> Logger { get; set; }
    [Parameter]
    public double VideoLength { get; set; }
    private int int_VideoLength => (int)VideoLength;
    [Parameter]
    public string ProjectPath { get; set; }
    [Parameter]
    public string VideoName { get; set; } = "Video not selected";
    [Parameter]
    public List<CommentEntity> CommentEntities { get; set; }

    public double CurrentTime { get; set; }
    private Timer videoTimer = new Timer() { Interval = 200 };
    private bool isPlaying;

    protected override void OnInitialized()
    {
        videoTimer.Elapsed += VideoTimer_Elapsed;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500); // !important for successfull uploading ProjectPath in Iframe!

            if (VideoName != null && VideoName != String.Empty)
            {
                await Stop();
                await JSWrapper.SetCablesVariable("s_videoPath", VideoName);
            }
        }
    }

    private async Task PlayClicked()
    {
        await Play();
        isPlaying = true;
    }

    private async Task StopClicked()
    {
        await Stop();
        isPlaying = false;
    }

    private void VideoTimer_Elapsed(object sender, ElapsedEventArgs e)
    {
        try
        {
            var task = Task.Run(async () => await JSWrapper.GetCablesVariable("i_getTime"));
            var time = task.WaitAndUnwrapException();
            CurrentTime = Math.Round(time, 0);
            Logger.LogWarning(CurrentTime.ToString());
            InvokeAsync( StateHasChanged);
        }
        catch (Exception ex)
        {
            videoTimer.Stop();
            videoTimer.Elapsed -= VideoTimer_Elapsed;
            Logger.LogError(ex.ToString());
        }
    }

    private async Task Play()
    {
        videoTimer.Start();
        await JSWrapper.SetCablesVariable("i_videoSpeed", "1");
        Logger.LogWarning("CABLESPLAYER PLAYING");
    }

    private async Task Stop()
    {
        videoTimer.Stop();
        await JSWrapper.SetCablesVariable("i_videoSpeed", "0");
        Logger.LogWarning("CABLESPLAYER STOPPED");
    }

    private async Task VideoSliderInputMouseDown()
    {
        await Stop();
    }

    private async Task VideoSliderInputMouseUp()
    {
        if (isPlaying) await Play();
        else await Stop();
    }

    private async Task VideoSliderChanged(string step)
    {
        await ChangeVideoPosition(step);
    }

    public async Task ChangeVideoPosition(string step)
    {
        CurrentTime = Convert.ToDouble(step);
        double cablesTime = Convert.ToDouble(step) + GetSmallRandomDouble();
        await JSWrapper.SetCablesVariable("i_videoTime", cablesTime.ToString(CultureInfo.InvariantCulture));
        StateHasChanged();
    }

    /// <summary>
    /// Cables unexpected behavior: cant set same variable more than one time.
    /// So, we can add small float number to i_videoTime variable to get different variables for Cables build
    /// </summary>
    /// <returns></returns>
    private double GetSmallRandomDouble()
    {
        Random rnd = new Random();
        double max = 0.5;
        return Math.Round(rnd.NextDouble() * max, 1);
    }

    public async Task ChangeVideoContent(string fileName)
    {
        Stop();
        VideoName = fileName;
        await JSWrapper.SetCablesVariable("s_videoPath", fileName);
    }

    public void Dispose()
    {
        videoTimer.Stop();
        videoTimer.Elapsed -= VideoTimer_Elapsed;
        Logger.LogWarning("CABLESPLAYER DISPOSED");
    }
}
